<div class="container">
  <div class="row">
    <div class="col-12 pt-4">
      <h1>FAQ</h1>
      <br>
      <h3>1) User Picture
        <small>Gravatar</small>
      </h3>
      <p>Setting up a profile picture is nice and easy. Go to
        <a href="https://en.gravatar.com/" target="_blank">Gravtar.com</a> and register an account with the same email as your Philopedia email.  Once you upload a picture to Gravatar, it will appear here on Philopedia.  It links simply by using the same email address.</p>
    </div>
  </div>
</div>