<div class="row">
  <div class="col-12 banner">
    <h1 class="title-primary">Philopedia</h1>
    <h3 class="subTitle">Create and share Markdown Wiki's!</h3>
    <a href="#" class="btn btn-primary">Sign-Up</a>
  </div>
</div>