<div class="row">
  <div class="col-12 banner">
    <h1 class="title-primary">Philopedia</h1>
    <h3 class="subTitle">Wiki's for Arm-Chair Philosophers</h3>
    <% if !user_signed_in? %>
        <%= link_to "Get Started", new_user_registration_path, :class => 'btn btn-success bannerBtn btn-lg' %>
    <% end %>
  </div>
</div>