.banner {
  text-align: center;
  padding: 15px 0;
  background-image: image_url("coffee_2.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}
.title-primary {
  letter-spacing: 1px;
  margin-bottom: 8px;
  font-size: 8rem;
}

.subTitle {
  margin-bottom: 100px;
  font-size: 2.5rem;
}